* {
  padding: 0;
  margin: 0;
  font-family: Inknut Antiqua, serif;
}

.container-header {
  padding: 5px 10%;
  background-color: rgb(50, 167, 145);
}

.header {
  background-color: rgb(50, 167, 145); /* bg requisito 1 */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  align-self: center;
}

.trybewarts-header-logo {
  width: 75px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.authentication {
  width: 160px;
  height: 40px;
  margin: 5px;
  border-style: none;
  border-radius: 8px;
  font-size: smaller;
}

#login-button {
  background-color: rgb(79, 33, 127);
}

#container-main {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
