* {
  padding: 0;
  margin: 0;
  font-family: Inknut Antiqua, serif;
}

.container-header {
  padding: 5px 10%;
  background-color: rgb(50, 167, 145);
}

.header {
  background-color: rgb(50, 167, 145); /* bg requisito 1 */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  align-self: center;
}

.trybewarts-header-logo {
  width: 75px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.authentication {
  width: 160px;
  height: 40px;
  margin: 5px;
  border-style: none;
  border-radius: 8px;
  font-size: smaller;
}

#login-button {
  background-color: rgb(79, 33, 127);
}

#container-main {
  display: flex;
  justify-content: center;
  background-color: rgb(239, 239, 239);
}

main {
  margin-top: 10px;
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 675px;
}

#evaluation-form h2 {
  padding: 20px;
  font-size: x-large;
  font-weight: 600;
}

.inputs-evaluation-form {
  width: 320px;
  height: 40px;
  margin: 10px 1px;
  padding: 0 15px;
  border-style: none;
  border-radius: 8px;
  font-size: smaller;
}

.label-select {
  font-size: smaller;
}

#house {
  background-color: white;
  width: 276.83px;
  height: 40px;
  border-style: none;
  border-radius: 8px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.lines {
  width: 675px;
}

#container2-form {
  display: flex;
  justify-content: space-between;
  width: 675px;
}

.labels-container1 {
  padding: 8px 0;
}

.inputs-container1 {
  margin: 12px 0;
}

.radio-family {
  width: 50%;
}

.labels-container2 {
  padding: 8px 0;
  margin-right: 30px;
}

.inputs-container2 {
  margin: 12px 0;
}

#container3-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 675px;
}

.rate-row {
  align-self: baseline;
}

.break-point {
  display: flex;
  flex-basis: 100%;
  width: 0;
}

#text-area {
  border-radius: 8px;
  border-color: rgb(79, 33, 127);
}

#container4-form {
  align-self: flex-start;
}

.labels-container4 {
  padding: 8px 0;
}

.inputs-container4 {
  padding: 8px 0;
}

#container5-form {
  display: flex;
  width: 675px;
}

#submit-btn {
  background-color: rgb(79, 33, 127);
  color: white;
  font-size: smaller;
  height: 40px;
  width: 675px;
  border-style: none;
  border-radius: 8px;
}
