* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
}

h1 {
  align-self: center;
}

.trybewarts-header-logo {
  width: 150px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.authentication {
  padding: 15px;
  margin: 5px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
